In [2]:
from results_analysis import *
mylist = ["dataset", "activation","encoding","nmax", "ntype","mean_hit","dev_hit","mean_ndcg","dev_ndcg"]
mylist_all = ["activation","encoding","nmax","mean_hit","dev_hit","mean_ndcg","dev_ndcg"]

## List all the trainings of a folder

#### The sub-datasets correspond to the ablations created in the Ablations dataset. There are more than in the paper because there were a few attempts to change the variance of the dataset which did not work.

In [27]:
# dfgames = print_it("games", start=0)
# dfmen = print_it("men", start=0)
# dfbeauty = print_it("beauty", start=0)
# dffashion = print_it("fashion", start=0)
######################
# dfsubmen = print_it("submen", start=0)
# dfsubfashion = print_it("subfashion", start=0)
# dfsubgames = print_it("subgames", start=0)
# dfsubgames2 = print_it("subgames2", start=0)
# dfsubgames3 = print_it("subgames3", start=0)
# dfsubmen2 = print_it("submen2", start=0)
# dfsubmen3 = print_it("submen3", start=0)

In [4]:
# dfgames = renamer(dfgames)
# dfbeauty = renamer(dfbeauty)
# dffashion = renamer(dffashion)
# dfmen = renamer(dfmen)
######################
dfsubmen = renamer(dfsubmen)
dfsubfashion = renamer(dfsubfashion)
dfsubgames = renamer(dfsubgames)
dfsubgames2 = renamer(dfsubgames2)
dfsubgames3 = renamer(dfsubgames3)
dfsubmen2 = renamer(dfsubmen2)
dfsubmen3 = renamer(dfsubmen3)

## Filtering

In [5]:
import numpy as np

###########################################################################
# apply_min = True # min number of 2 runs
# No_nan = False # If true ignore nan cases
# encoding = True # If encoding onl metrics L2
# pseudo = False # If pseudo onl different of L2
# add_confidence = True
# nosas = True
# max_apply = [] # [1.e-04, 1.e-02, 1.e-01, 1.e+00] #  [0.0001, 0.1] #, np.nan]
# dfmen = filter_dataframe(dfmen, apply_min, No_nan, encoding, pseudo, nosas,
#                          'men', add_confidence, max_apply=max_apply, ntype_apply=[])
# dfgames = filter_dataframe(dfgames, apply_min, No_nan, encoding, pseudo, nosas,
#                            'games', add_confidence, ntype_apply=[])
# dfbeauty = filter_dataframe(dfbeauty, apply_min, No_nan, encoding, pseudo, nosas,
#                             'beauty', add_confidence, ntype_apply=[])
# dffashion = filter_dataframe(dffashion, apply_min, No_nan, encoding, pseudo, nosas,
#                              'fashion', add_confidence, ntype_apply=[])
###########################################################################
apply_min = True  # min number of runs
No_nan = False
encoding = True
pseudo = False
add_dataset = True
add_confidence = True
nosas = False
max_apply = [0.0001, 0.1]
dfsubmen = filter_dataframe(dfsubmen, apply_min, No_nan, encoding, pseudo, nosas, 'submen', 
                            add_confidence, max_apply=max_apply)
dfsubfashion = filter_dataframe(dfsubfashion, apply_min, No_nan, encoding, pseudo, nosas, 'subfashion', 
                                add_confidence, max_apply=max_apply)
###########################################################################
dfsubgames = filter_dataframe(dfsubgames, apply_min, No_nan, encoding, pseudo, nosas, 'subgames', 
                              add_confidence, max_apply=max_apply+[np.nan])
dfsubgames2 = filter_dataframe(dfsubgames2, apply_min, No_nan, encoding, pseudo, nosas, 'subgames2', 
                              add_confidence, max_apply=max_apply+[np.nan])
dfsubgames3 = filter_dataframe(dfsubgames3, apply_min, No_nan, encoding, pseudo, nosas, 'subgames3', 
                              add_confidence, max_apply=max_apply+[np.nan])
###########################################################################
dfsubmen2 = filter_dataframe(dfsubmen2, apply_min, No_nan, encoding, pseudo, nosas, 'submen2', 
                              add_confidence, max_apply=max_apply)
dfsubmen3 = filter_dataframe(dfsubmen3, apply_min, No_nan, encoding, pseudo, nosas, 'submen3', 
                              add_confidence, max_apply=max_apply)

In [24]:
stats = {"Subgames": {
    "name": "Subgames",
    "users": 5000,
    "items": 4601,
    "interactions": 33353,
    "density": r"$1.3341 times 10 3$",
},
"Submen3": {
    "name": "Submen3",
    "users": 10000,
    "items": 45129,
    "interactions": 74391,
    "density": r"1.648 times 10 4$",
},
"Submen2": {
    "name": "Submen2",
    "users": 9939,
    "items": 40000,
    "interactions": 69140,
    "density": r"1.728 times 10 4$",
},
"Submen": {
    "name": "Submen",
    "users": 8332,
    "items": 10000,
    "interactions": 28603,
    "density": r"$2.860 times 10 4$",
},
"Subfashion": {
    "name": "Subfashion",
    "users": 3840,
    "items": 5000,
    "interactions": 16080,
    "density": r"$3.564 times 10 4$",
}}

def density_table(list_df, stats):
    data = pd.DataFrame(columns=["Dataset", "Users", "Items", "Interactions", "Hit Dev.",
                             "NDCG Dev.", "CI-length", "Sparsity"])
    for (name, df1) in list_df:
        # Drop rows with NaN values and filter by 'encoding' == 'carca'
        if "games" not in name:
            df1 = df1.dropna(axis=0)
        df1 = df1[df1['encoding'].isin([r'\None'])]

        # Append the results to the DataFrame
        data = data.append({
            "Dataset": name,
            "Users": stats[name]["users"],
            "Items": stats[name]["items"],
            "Interactions": stats[name]["interactions"],
            "Hit Dev.":  df1['dev_hit'].mean(),
            "NDCG Dev.": df1['dev_ndcg'].mean(),
            "CI-length": df1['CI_length'].mean(),
            "Sparsity": stats[name]["density"],
        }, ignore_index=True)

    # Output the final DataFrame
    print(data.to_latex(index=False))

devhit = lambda df: round(df[df['encoding'].isin([r'\None', r'\RotatoryCon', r'\RMHA'])]["dev_hit"].mean(), 4)
devndcg = lambda df: round(df[df['encoding'].isin([r'\None', r'\RotatoryCon', r'\RMHA'])]["dev_ndcg"].mean(), 4)
whole = lambda df: print(cleanit_for_position(df).to_latex(index=False))
show = lambda df, num: print(best(df[mylist], num).head(4).to_latex(index=False))

def greate_tables(list_df, stats):
    list_df = [(df["dataset"][0], df) for df in list_df]
    list_games = [(name, df[df["nmax"].isna()]) for (name, df) in list_df if "game" in name]
    
#     print("########### STATISTICS 1")
#     for (name, df1) in list_df:
#         print(f" Dataset {name}, Hit dev total: {devhit(df1)}, NDCG dev total: {devndcg(df1)}")
#     print("\n")
#     print("########### STATISTICS 2")
#     density_table(list_df, stats)
#     print("########### all the tables")
#     for (name, df1) in list_df:
#         print(name)
#         whole(df1)
#     print("\n")
#     print("########### max 3")
#     for (name, df1) in list_df:
#         print(name)
#         show(df1, 3)
#     print("\n")
#     print("########### max 12")
#     for (name, df1) in list_df:
#         print(name)
#         show(df1, 12)
    
    print("########### STATISTICS 1")
    for (name, df1) in list_games:
        print(f" Dataset {name}, Hit dev total: {devhit(df1)}, NDCG dev total: {devndcg(df1)}")
    print("\n")
    print("########### STATISTICS 2")
    density_table(list_games, stats)
    
    print("########### all the tables")
    for (name, df1) in list_games:
        print(name)
        whole(df1)
    print("\n")
    print("########### max 3")
    for (name, df1) in list_games:
        print(name)
        show(df1, 3)
    print("\n")
    print("########### max 12")
    for (name, df1) in list_games:
        print(name)
        show(df1, 12)

In [25]:
round(dfsubgames[dfsubgames['encoding'].isin([r'\None'])]["dev_ndcg"].mean(), 4)

0.9217

In [26]:
greate_tables([dfsubmen, dfsubmen2, dfsubmen3, dfsubgames, dfsubfashion], stats)

########### STATISTICS 1
 Dataset Subgames, Hit dev total: 1.165, NDCG dev total: 0.815


########### STATISTICS 2
\begin{tabular}{llllllll}
\toprule
 Dataset & Users & Items & Interactions & Hit Dev. & NDCG Dev. & CI-length &            Sparsity \\
\midrule
Subgames &  5000 &  4601 &        33353 &    1.115 &     0.775 &      1.79 & \$1.3341 times 10 3\$ \\
\bottomrule
\end{tabular}

########### all the tables
Subgames
\begin{tabular}{llrrrrrrlr}
\toprule
activation &     encoding &  nmax &  mean\_hit &  dev\_hit &  mean\_ndcg &  dev\_ndcg &  runs &             CI &  CI\_length \\
\midrule
     leaky &        \textbackslash None &   NaN &     49.53 &     1.01 &      28.84 &      0.69 &     6 & (48.72, 50.34) &       1.62 \\
      silu &        \textbackslash None &   NaN &     48.31 &     1.22 &      28.36 &      0.86 &     6 & (47.33, 49.29) &       1.96 \\
     leaky & \textbackslash RotatoryCon &   NaN &     52.23 &     1.57 &      31.51 &      0.96 &     6 & (50.97, 53.49) &       2.52 \\
      silu & \textbackslash RotatoryCon &   NaN &     50.73 &     0.89 &      30.48 &      0.72 &     6 & (50.02, 51.44) &       1.42 \\
     leaky &        \textbackslash RMHA &   NaN &     50.43 &     0.95 &      29.96 &      0.87 &     6 & (49.67, 51.19) &       1.52 \\
      silu &        \textbackslash RMHA &   NaN &     48.97 &     1.35 &      28.57 &      0.79 &     6 & (47.89, 50.05) &       2.16 \\
\bottomrule
\end{tabular}



########### max 3
Subgames
\begin{tabular}{lllrrrrrr}
\toprule
 dataset & activation &     encoding &  nmax &  ntype &  mean\_hit &  dev\_hit &  mean\_ndcg &  dev\_ndcg \\
\midrule
Subgames &      leaky & \textbackslash RotatoryCon &   NaN &    2.0 &     52.23 &     1.57 &      31.51 &      0.96 \\
Subgames &       silu & \textbackslash RotatoryCon &   NaN &    2.0 &     50.73 &     0.89 &      30.48 &      0.72 \\
Subgames &      leaky &        \textbackslash RMHA &   NaN &    2.0 &     50.43 &     0.95 &      29.96 &      0.87 \\
Subgames &      leaky &        \textbackslash None &   NaN &    2.0 &     49.53 &     1.01 &      28.84 &      0.69 \\
\bottomrule
\end{tabular}



########### max 12
Subgames
\begin{tabular}{lllrrrrrr}
\toprule
 dataset & activation &     encoding &  nmax &  ntype &  mean\_hit &  dev\_hit &  mean\_ndcg &  dev\_ndcg \\
\midrule
Subgames &      leaky & \textbackslash RotatoryCon &   NaN &    2.0 &     52.23 &     1.57 &      31.51 &      0.96 \\
Subgames &       silu & \textbackslash RotatoryCon &   NaN &    2.0 &     50.73 &     0.89 &      30.48 &      0.72 \\
Subgames &      leaky &        \textbackslash RMHA &   NaN &    2.0 &     50.43 &     0.95 &      29.96 &      0.87 \\
Subgames &      leaky &        \textbackslash None &   NaN &    2.0 &     49.53 &     1.01 &      28.84 &      0.69 \\
\bottomrule
\end{tabular}

C:\Users\a00624448\AppData\Local\Temp\ipykernel_688\73588389.py:47: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append({
C:\Users\a00624448\AppData\Local\Temp\ipykernel_688\73588389.py:59: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(data.to_latex(index=False))
C:\Users\a00624448\AppData\Local\Temp\ipykernel_688\73588389.py:63: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  whole = lambda df: print(cleanit_for_position(df).to_latex(index=False))
C:\Users\a00624448\AppData\Local\Temp\ipykernel_688\73588389.py:64: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  show = lambda df, num: print(best(df[mylist], num).head(4).to_latex(index=False))
C:\Users\a00624448\AppData\Local\Temp\ipykernel_688\73588389.py:64: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  show = lambda df, num: print(best(df[mylist], num).head(4).to_latex(index=False))

In [ ]:
for (df1, name) in [(dfsubfashion2, "subfashion"), (dfsubmen, "submen")]:
    df1 = df1.dropna(axis=0)
    print(name)
    print(f"CI_length: {df1['CI_length'].mean()}")

# ENCODING PAPER

### Deviations

In [18]:
# print(get_deviation(dfbeauty))
# print(get_deviation(dfmen))
# print(get_deviation(dffashion))
# print(get_deviation(dfgames))

## BEST RESULTS

In [13]:
dfbeauty["dataset"] = dfbeauty["dataset"].apply(lambda x: x[0].upper() + x[1:])
dfmen["dataset"] = dfmen["dataset"].apply(lambda x: x[0].upper() + x[1:])
dffashion["dataset"] = dffashion["dataset"].apply(lambda x: x[0].upper() + x[1:])
dfgames["dataset"] = dfgames["dataset"].apply(lambda x: x[0].upper() + x[1:])

### CASES

In [62]:
# print(cleanit(dfbeauty).to_latex(index=False))

In [63]:
# print(cleanit(dfmen).to_latex(index=False))

In [64]:
# print(cleanit(dffashion).to_latex(index=False))

In [65]:
# print(cleanit(dfgames).to_latex(index=False))

### DEVIATIONS

In [27]:
df = pd.concat([dffashion, dfbeauty, dfgames, dfmen])

In [66]:
# df2 = cleanit(df)
# df2 = df2[(df2['nmax'] == 0.0001) | (df2['nmax'].isna())]
# grouped_df = df2.groupby('encoding')
# mean_values = grouped_df.mean()
# mean_values = mean_values.round(2)
# print(mean_values[["dev_hit","dev_ndcg","runs","CI-length"]].to_latex())

In [67]:
# df3 = cleanit(df)
# # df2 = df2[(df2['nmax'] == 0.0001) | (df2['nmax'].isna())]
# grouped_df = df3.groupby('encoding')
# mean_values = grouped_df.mean()
# mean_values = mean_values.round(2)
# print(mean_values[["dev_hit","dev_ndcg","runs","CI-length"]].to_latex())

In [68]:
# print(mean_values[["dev_hit","dev_ndcg","runs","CI-length"]].to_latex())

In [69]:
# mean_values

In [70]:
# df[df['encoding']=='RMHAROPEONE']

In [85]:
import math
import numpy as np

def process_dataframe(df):
    df1 = df[df['confidence_interval_length'] > 10]
    df1['confidence_interval_length'] = df1['confidence_interval_length'].apply(lambda x: math.ceil(x))
    df1['need'] = (np.floor(np.log(df1['confidence_interval_length'] - 10) / np.log(1.5)) + 1).astype(int)
    df1 = df1.drop(columns=["mean_hit", "dev_hit", "mean_ndcg", "dev_ndcg", "runs", "confidence_interval", "confidence_interval_length"])
    return df1

# dffashion = process_dataframe(dffashion)
# dfbeauty = process_dataframe(dfbeauty)
dfgames = process_dataframe(dfgames)

C:\Users\a00624448\AppData\Local\Temp\ipykernel_14080\3936825039.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['confidence_interval_length'] = df1['confidence_interval_length'].apply(lambda x: math.ceil(x))
C:\Users\a00624448\AppData\Local\Temp\ipykernel_14080\3936825039.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['need'] = (np.floor(np.log(df1['confidence_interval_length'] - 10) / np.log(1.5)) + 1).astype(int)

In [26]:
dfgames

  activation   encoding    nmax  ntype dataset  need
1       silu  LearntCon  0.0001    2.0   games     8
3       silu     AbsCon  0.0001    2.0   games     8
4       silu     Learnt  0.0001    2.0   games     8
5       silu        Abs  0.0001    2.0   games     9

In [112]:
df1 = dfbeauty
df1["need"].sum()

25

In [113]:
df1 = df1.rename(columns={'nmax': 'max_norm','ntype': 'norm_type',
                          'activation': 'hidden_act'})
print(df1.to_string(index=False))

hidden_act encoding  max_norm  norm_type dataset  need
      silu      con    0.1000        2.0  beauty     1
     leaky   learnt    0.1000        2.0  beauty     2
      silu   learnt    0.1000        2.0  beauty     7
     leaky    nocon    0.0001        2.0  beauty     1
      silu    nocon    0.0001        2.0  beauty     4
     leaky    nocon    0.1000        2.0  beauty     3
      silu    nocon    0.1000        2.0  beauty     7

carca_nmax_0.0001_ntype_0.0001_hact_leakyrelu
None
carca_nmax_0.0001_ntype_0.0001_hact_silu
carca_nmax_0.0001_ntype_0.0001_hact_silu
carca_nmax_0.0001_ntype_0.0001_hact_silu
carca_nmax_0.0001_ntype_0.0001_hact_silu
carca_nmax_0.0001_ntype_0.0001_hact_silu
carca_nmax_0.0001_ntype_0.0001_hact_silu
None
carca_nmax_0.0001_ntype_0.01_hact_leakyrelu
carca_nmax_0.0001_ntype_0.01_hact_leakyrelu
carca_nmax_0.0001_ntype_0.01_hact_leakyrelu
carca_nmax_0.0001_ntype_0.01_hact_leakyrelu
carca_nmax_0.0001_ntype_0.01_hact_leakyrelu
None
carca_nmax_0.0001_ntype_0.01_hact_silu
carca_nmax_0.0001_ntype_0.01_hact_silu
carca_nmax_0.0001_ntype_0.01_hact_silu
carca_nmax_0.0001_ntype_0.01_hact_silu
None
carca_nmax_0.0001_ntype_0.1_hact_leakyrelu
carca_nmax_0.0001_ntype_0.1_hact_leakyrelu
carca_nmax_0.0001_ntype_0.1_hact_leakyrelu
carca_nmax_0.0001_ntype_0.1_hact_leakyrelu
carca_nmax_0.0001_ntype_0.1_hact_leakyrelu
None
carca_nmax_0.0001_ntype_0.1_hact_silu
carca_nmax_0.0001_ntype_0.1_hact_silu
None
carca_nmax_0.1_ntype_0.0001_hact_leakyrelu
carca_nmax_0.1_ntype_0.0001_hact_leakyrelu
carca_nmax_0.1_ntype_0.0001_hact_leakyrelu
carca_nmax_0.1_ntype_0.0001_hact_leakyrelu
carca_nmax_0.1_ntype_0.0001_hact_leakyrelu
carca_nmax_0.1_ntype_0.0001_hact_leakyrelu
None
carca_nmax_0.1_ntype_0.0001_hact_silu
carca_nmax_0.1_ntype_0.0001_hact_silu
carca_nmax_0.1_ntype_0.0001_hact_silu
carca_nmax_0.1_ntype_0.0001_hact_silu
carca_nmax_0.1_ntype_0.0001_hact_silu
None
carca_nmax_0.1_ntype_0.01_hact_leakyrelu
carca_nmax_0.1_ntype_0.01_hact_leakyrelu
carca_nmax_0.1_ntype_0.01_hact_leakyrelu
carca_nmax_0.1_ntype_0.01_hact_leakyrelu
carca_nmax_0.1_ntype_0.01_hact_leakyrelu
None
carca_nmax_0.1_ntype_0.01_hact_silu
carca_nmax_0.1_ntype_0.01_hact_silu
carca_nmax_0.1_ntype_0.01_hact_silu
carca_nmax_0.1_ntype_0.01_hact_silu
carca_nmax_0.1_ntype_0.01_hact_silu
carca_nmax_0.1_ntype_0.01_hact_silu
None
carca_nmax_0.1_ntype_0.1_hact_leakyrelu
carca_nmax_0.1_ntype_0.1_hact_leakyrelu
carca_nmax_0.1_ntype_0.1_hact_leakyrelu
carca_nmax_0.1_ntype_0.1_hact_leakyrelu
carca_nmax_0.1_ntype_0.1_hact_leakyrelu
carca_nmax_0.1_ntype_0.1_hact_leakyrelu
None
carca_nmax_0.1_ntype_0.1_hact_silu
carca_nmax_0.1_ntype_0.1_hact_silu
carca_nmax_0.1_ntype_0.1_hact_silu
carca_nmax_0.1_ntype_0.1_hact_silu
carca_nmax_0.1_ntype_0.1_hact_silu
None
carca_nmax_0.1_ntype_1.0_hact_leakyrelu
carca_nmax_0.1_ntype_1.0_hact_leakyrelu
carca_nmax_0.1_ntype_1.0_hact_leakyrelu
carca_nmax_0.1_ntype_1.0_hact_leakyrelu
carca_nmax_0.1_ntype_1.0_hact_leakyrelu
None
carca_nmax_0.1_ntype_1.0_hact_silu
carca_nmax_0.1_ntype_1.0_hact_silu
carca_nmax_0.1_ntype_1.0_hact_silu
carca_nmax_0.1_ntype_1.0_hact_silu
carca_nmax_0.1_ntype_1.0_hact_silu
None
carca_nmax_0.5_ntype_0.0001_hact_leakyrelu
carca_nmax_0.5_ntype_0.0001_hact_leakyrelu
carca_nmax_0.5_ntype_0.0001_hact_leakyrelu
carca_nmax_0.5_ntype_0.0001_hact_leakyrelu
carca_nmax_0.5_ntype_0.0001_hact_leakyrelu
carca_nmax_0.5_ntype_0.0001_hact_leakyrelu
None
carca_nmax_0.5_ntype_0.0001_hact_silu
carca_nmax_0.5_ntype_0.0001_hact_silu
carca_nmax_0.5_ntype_0.0001_hact_silu
carca_nmax_0.5_ntype_0.0001_hact_silu
carca_nmax_0.5_ntype_0.0001_hact_silu
None
carca_nmax_0.5_ntype_0.01_hact_leakyrelu
carca_nmax_0.5_ntype_0.01_hact_leakyrelu
carca_nmax_0.5_ntype_0.01_hact_leakyrelu
None
carca_nmax_0.5_ntype_0.01_hact_silu
carca_nmax_0.5_ntype_0.01_hact_silu
carca_nmax_0.5_ntype_0.01_hact_silu
carca_nmax_0.5_ntype_0.01_hact_silu
carca_nmax_0.5_ntype_0.01_hact_silu
carca_nmax_0.5_ntype_0.01_hact_silu
None
carca_nmax_0.5_ntype_0.1_hact_leakyrelu
carca_nmax_0.5_ntype_0.1_hact_leakyrelu
carca_nmax_0.5_ntype_0.1_hact_leakyrelu
None
carca_nmax_0.5_ntype_0.1_hact_silu
carca_nmax_0.5_ntype_0.1_hact_silu
carca_nmax_0.5_ntype_0.1_hact_silu
carca_nmax_0.5_ntype_0.1_hact_silu
carca_nmax_0.5_ntype_0.1_hact_silu
None
carca_nmax_0.5_ntype_1.0_hact_leakyrelu
carca_nmax_0.5_ntype_1.0_hact_leakyrelu
carca_nmax_0.5_ntype_1.0_hact_leakyrelu
carca_nmax_0.5_ntype_1.0_hact_leakyrelu
None
carca_nmax_0.5_ntype_1.0_hact_silu
carca_nmax_0.5_ntype_1.0_hact_silu
carca_nmax_0.5_ntype_1.0_hact_silu
carca_nmax_0.5_ntype_1.0_hact_silu
carca_nmax_0.5_ntype_1.0_hact_silu
None
carca_nmax_1.0_ntype_0.0001_hact_leakyrelu
carca_nmax_1.0_ntype_0.0001_hact_leakyrelu
carca_nmax_1.0_ntype_0.0001_hact_leakyrelu
carca_nmax_1.0_ntype_0.0001_hact_leakyrelu
carca_nmax_1.0_ntype_0.0001_hact_leakyrelu
None
carca_nmax_1.0_ntype_0.01_hact_leakyrelu
carca_nmax_1.0_ntype_0.01_hact_leakyrelu
carca_nmax_1.0_ntype_0.01_hact_leakyrelu
carca_nmax_1.0_ntype_0.01_hact_leakyrelu
None
carca_nmax_1.0_ntype_0.01_hact_silu
carca_nmax_1.0_ntype_0.01_hact_silu
carca_nmax_1.0_ntype_0.01_hact_silu
carca_nmax_1.0_ntype_0.01_hact_silu
carca_nmax_1.0_ntype_0.01_hact_silu
carca_nmax_1.0_ntype_0.01_hact_silu
None
carca_nmax_1.0_ntype_0.1_hact_silu
carca_nmax_1.0_ntype_0.1_hact_silu
carca_nmax_1.0_ntype_0.1_hact_silu
carca_nmax_1.0_ntype_0.1_hact_silu
None
carca_nmax_1.0_ntype_1.0_hact_silu
carca_nmax_1.0_ntype_1.0_hact_silu
carca_nmax_1.0_ntype_1.0_hact_silu
None
carca_nmax_nan_ntype_0.0001_hact_leakyrelu
carca_nmax_nan_ntype_0.0001_hact_leakyrelu
carca_nmax_nan_ntype_0.0001_hact_leakyrelu
carca_nmax_nan_ntype_0.0001_hact_leakyrelu
carca_nmax_nan_ntype_0.0001_hact_leakyrelu
None
carca_nmax_nan_ntype_0.0001_hact_silu
carca_nmax_nan_ntype_0.0001_hact_silu
carca_nmax_nan_ntype_0.0001_hact_silu
carca_nmax_nan_ntype_0.0001_hact_silu
None
carca_nmax_nan_ntype_0.01_hact_leakyrelu
carca_nmax_nan_ntype_0.01_hact_leakyrelu
carca_nmax_nan_ntype_0.01_hact_leakyrelu
carca_nmax_nan_ntype_0.01_hact_leakyrelu
carca_nmax_nan_ntype_0.01_hact_leakyrelu
None
carca_nmax_nan_ntype_0.01_hact_silu
carca_nmax_nan_ntype_0.01_hact_silu
carca_nmax_nan_ntype_0.01_hact_silu
carca_nmax_nan_ntype_0.01_hact_silu
carca_nmax_nan_ntype_0.01_hact_silu
carca_nmax_nan_ntype_0.01_hact_silu
None
carca_nmax_nan_ntype_0.1_hact_leakyrelu
carca_nmax_nan_ntype_0.1_hact_leakyrelu
carca_nmax_nan_ntype_0.1_hact_leakyrelu
carca_nmax_nan_ntype_0.1_hact_leakyrelu
None
carca_nmax_nan_ntype_0.1_hact_silu
carca_nmax_nan_ntype_0.1_hact_silu
carca_nmax_nan_ntype_0.1_hact_silu
carca_nmax_nan_ntype_0.1_hact_silu
None
carca_nmax_nan_ntype_1.0_hact_leakyrelu
carca_nmax_nan_ntype_1.0_hact_leakyrelu
carca_nmax_nan_ntype_1.0_hact_leakyrelu
carca_nmax_nan_ntype_1.0_hact_leakyrelu
None
carca_nmax_nan_ntype_1.0_hact_silu
carca_nmax_nan_ntype_1.0_hact_silu
carca_nmax_nan_ntype_1.0_hact_silu
carca_nmax_nan_ntype_1.0_hact_silu
carca_nmax_nan_ntype_1.0_hact_silu
carca_nmax_nan_ntype_1.0_hact_silu
None
carca_nmax_0.0001_ntype_2.0_hact_leakyrelu
None
carca_nmax_0.1_ntype_2.0_hact_leakyrelu
None
carca_nmax_0.1_ntype_2.0_hact_silu
carca_nmax_0.1_ntype_2.0_hact_silu
None
carca_nmax_0.0001_ntype_2.0_hact_silu
None
carca_nmax_0.1_ntype_2.0_hact_leakyrelu
carca_nmax_0.1_ntype_2.0_hact_leakyrelu
carca_nmax_0.1_ntype_2.0_hact_leakyrelu
carca_nmax_0.1_ntype_2.0_hact_leakyrelu
None
carca_nmax_0.1_ntype_2.0_hact_silu
carca_nmax_0.1_ntype_2.0_hact_silu
carca_nmax_0.1_ntype_2.0_hact_silu
carca_nmax_0.1_ntype_2.0_hact_silu
carca_nmax_0.1_ntype_2.0_hact_silu
None
carca_nmax_0.1_ntype_2.0_hact_silu
None
carca_nmax_0.1_ntype_2.0_hact_silu
None

In [44]:
(df1['need'].sum() * 4)/22

31.454545454545453

In [37]:
# column_order = ['dataset','encoding', 'activation', 'nmax', 'mean_hit', 'dev_hit', 'mean_ndcg', 'dev_ndcg', 'runs']  # Replace with your actual column names

# # Concatenate the DataFrames and choose the column order
# result_df = pd.concat([df1, df2, df3], ignore_index=True)[column_order]
# # result_df.to_string(index=False)
# def dataframe_to_latex(df):
#     """
#     Convert a DataFrame to a LaTeX table.

#     Parameters:
#     - df: DataFrame with columns "dataset", "encoding", "activation", "nmax", "mean_hit", "dev_hit", "mean_ndcg", "dev_ndcg".

#     Returns:
#     - LaTeX table as a string.
#     """
#     # Check if the DataFrame has the required columns
#     required_columns = ["dataset", "encoding", "activation", "nmax", "mean_hit", "dev_hit", "mean_ndcg", "dev_ndcg"]
#     if not set(required_columns).issubset(df.columns):
#         raise ValueError("DataFrame is missing required columns.")

#     # Convert DataFrame to LaTeX table
#     latex_table = df.to_latex(index=False, escape=False)

#     return latex_table

# latex_table = dataframe_to_latex(result_df)

NameError: name 'df1' is not defined

In [26]:
from scipy.stats import ttest_1samp

# Assuming 'data' is a NumPy array or a list containing your performance measurements
reference_value = 0.550  # The value you want to compare against
data = np.array([42.5, 59.53, 43.11, 35.72, 63.72, 34.86])

# Perform one-sample t-test
t_stat, p_value = ttest_1samp(data, reference_value)

# Check if the p-value is less than the significance level (e.g., 0.05)
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. The mean performance is significantly different.")
else:
    print("Fail to reject the null hypothesis. The mean performance is not significantly different.")
p_value

Reject the null hypothesis. The mean performance is significantly different.

In [5]:
# Define the threshold value
threshold_value = 70

# Highlight entries equal or higher than the threshold
def highlight_greater_or_equal(val):
    return 'background-color: grey' if val >= threshold_value else ''

# Specify the columns you want to apply the styling to
columns_to_style = ['mean_hit', 'mean_ndcg']

# Apply the function to the specified columns
styled_df = dfmen[condition].style.applymap(highlight_greater_or_equal, subset=pd.IndexSlice[:, columns_to_style])


# Display the styled DataFrame
styled_df